
.wallImage img {
    width: 100%;
    height: 380px;
    box-shadow: 2px 4px 2px rgba(1,1,0,0.7);
    border-radius: 10px;
    margin-bottom: 20px;
}

.avatar {
    padding: 20px;
    display: flex;
    border: 1px solid #e5dddd;
    background-color: #3e3a3a;
    box-shadow: 2px 4px 2px rgba(1,1,0,0.7);
    border-radius: 10px;
    color: white;
    text-shadow: 2px 2px 0px rgba(9, 3, 3, 0.8);
}

.avatar img {
    width: 150px;
    height: 150px;
    box-shadow: 2px 4px 2px rgba(1,1,0,0.7);
    border-radius: 10px;
    opacity: 0.5;
    transition: all 0.3s linear;
}

.avatar img:hover {
    opacity: 1;
    cursor: pointer;
}

.discription {
    padding: 20px;
    display: grid;
    margin-left: 20px;
    border: 1px solid #100f0f;
    background-color: #3e3a3a;
    box-shadow: 2px 4px 2px rgba(1,1,0,0.7);
    border-radius: 10px;
    text-shadow: 2px 2px 0px rgba(9, 3, 3, 0.8);
    width: 100%;
}
.statusUser {
    color: #eab905;
}

.statusUser:hover {
    cursor: pointer;
}

.contacts {
    padding-left: 20px;
}


