.content {
grid-area: c;
background-color: burlywood;
}
.content img {
padding: 20px;
width: 98%;
height: 250px;
}
.avatar {
    padding: 20px;
    display: flex;
    border: 2px solid #ccc;
    margin-left: 20px;
}
.avatar img {
    width: 200px;
    height: 200px;
}
.avatar p {
    padding-left: 20px;
    word-break: inherit;
}
.post {
    padding-left: 20px;
    padding-top: 20px;
}
.post div {
    margin-bottom: 15px;
    padding: 20px;
    border: 2px solid #ccc;
}