.dialogues {
    display: grid;
    grid-template-columns: 2fr 8fr;
    padding: 20px;
}

.dialog {
    display: flex;
    border: 1px solid #e5dddd;
    background-color: #3e3a3a;
    box-shadow: 2px 4px 2px rgba(1,1,0,0.7);
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 300px;
    height: 80px;
}

.dialog img {
    width: 50px;
    height: 70px;
    margin: 3px;
    border: 1px solid #000000;
    background-color: #3e3a3a;
    box-shadow: 2px 4px 2px rgba(1,1,0,0.7);
    border-radius: 10px;

}

.dialoguesItem .dialogNav {
    color: white;
    display: block;
    padding-top: 20px;
    padding-left: 20px;
}

.dialoguesItem .dialogNav:hover {
    color: #eab905;
}

.dialoguesItem  a {
    text-decoration: none;
    color: black;
}

.dialog .active  {
    color: #eab905;
}

.messages {
    margin-left: 50px;
    border-left:4px solid rgba(65, 65, 69,   0.5);
    padding: 20px;
}

.messages .messageItem {
    background-color: #eee1e1;
    height: 50px;
    border: 2px solid rgb(90, 85, 85);
    padding: 10px;
    box-shadow: 2px 4px 2px rgba(3, 3, 0, 0.7);
    border-radius: 10px;
    margin-bottom: 10px;
}

.addMessage {
    display: grid;
}

.addMessage textarea {
    border: 2px solid rgb(90, 85, 85);
    padding: 10px;
    box-shadow: 2px 4px 2px rgba(3, 3, 0, 0.7);
    border-radius: 10px;
    width: 50%;
}

.addMessage button{
    box-shadow: 2px 4px 2px rgba(3, 3, 0, 0.7);
    border-radius: 5px;
    border: 2px solid rgb(90, 85, 85);
}

.addMessage button:hover {
    background-color: #eab905;
    cursor: pointer;
}